doctype 5
html
  head
    title Pacer Options
    :stylus
      body
        font-family Ubuntu, Helvetica, sans-serif
      h1
        color steelblue
      input 
        margin 10px
      input[type="text"]
        border-radius 5px
        border 2px solid steelblue
        padding 5px
        &:focus
          outline none
  body
    h1 Pacer Options
    div period: 
      input(type='range', min=1, max=60, step=1, value=5)#period
      span#period-indicator 5 minutes
    div volume: 
      audio(id='chime', src='/assets/sound/91926__corsica-s__ding.wav')
      input(type='range', min=0, max=1, step=0.01, value=1)#volume
      span#volume-indicator 100%
    div notification:
      input(type='checkbox')#notification
      input(type='text', placeholder='some inspirational quote')#quote
    script(src='/options.js')