doctype 5
html
  head
    title Options : Pacer
    link(rel='icon', href='/assets/image/logo.png')
    :stylus
      body
        font-family Ubuntu, Helvetica, sans-serif
      h1
        color steelblue
      .tips
        margin 10px auto
        color #888
        transition color 0.2s ease-in-out
        &:hover
          color black
      input 
        margin 10px
        &[type="text"]
          font-size 1em
          border-radius 5px
          border 2px solid steelblue
          padding 5px
          transition box-shadow 0.3s ease-in-out
          &:focus
            box-shadow 0 0 10px hsla(200, 80%, 70%, 0.8)
            outline none
          &:disabled
            background-color rgb(235, 235, 228)
        &[type="range"]
          width 400px
      button
        font-size 1em
        padding 5px
        border-radius 5px
      .foot
        margin-top 20px
        color #888
        font-size 0.9em
        a
          color #444
          text-decoration none
          &:hover
            color black
  body
    h1 Options : Pacer
    .tips Tips: notice how the same time interval feels longer as you are becoming more productive! Adjust the interval periodically.
    div interval: 
      input(type='range', min=1, max=60, step=1, value=5)#period
      span#period-indicator 5 minutes
    div volume: 
      audio(id='chime', src='/assets/sound/91926__corsica-s__ding.wav')
      input(type='range', min=0, max=1, step=0.01, value=1)#volume
      span#volume-indicator 100%
    div desktop notification:
      input(type='checkbox')#notification
      input(type='text', placeholder='some inspirational quote', size=64)#quote
    button#test show nudge sample
    script(src='/options.js')
    .foot &copy; 2013 
      a(href='http://twitter.com/falcondai', target='_blank') Falcon Dai
