doctype 5
html
  head
    title Options : Pacer
    link(rel='icon', href='/assets/image/logo.png')
    :stylus
      body
        font-family Ubuntu, Helvetica, sans-serif
      h1
        color steelblue
      .tips
        margin 10px auto
        color #888
        transition color 0.2s ease-in-out
        &:hover
          color black
      span
        display inline-block
        &.group
          margin auto 20px
      #blue:hover
        color #9aecf0
      #red:hover
        color #e03333
      input 
        margin 10px
        &[type="text"]
          font-size 1em
          border-radius 5px
          border 2px solid steelblue
          padding 5px
          transition box-shadow 0.3s ease-in-out
          &:focus
            box-shadow 0 0 10px hsla(200, 80%, 70%, 0.8)
            outline none
          &:disabled
            background-color rgb(235, 235, 228)
        &[type="range"]
          width 400px
      button
        font-size 1em
        padding 5px
        border-radius 5px
        margin-top 15px
      .foot
        margin-top 20px
        color #888
        font-size 0.9em
      a
        display inline-block
        transition color 0.2s ease-in-out
        color #444
        text-decoration none
        &:hover
          color steelblue
        &.disabled
          color: #888 !important;
      .actions
        margin-top 50px
        border-top 1px solid #888
        a
          margin 16px 32px 0px 0px
      .actions>span
        display inline-block
      #social
        display inline-block
        transition -webkit-transform 0.3s ease-in-out
        &>a
          margin-top 0
      .hide
        -webkit-transform perspective(300px) rotateX(90deg)
      .show
        -webkit-transform perspective(300px) rotateX(0deg)
      .foot a
        margin auto
      #facebook:hover
        color #3b579d
      #twitter:hover
        color #00aced
      #gplus:hover
        color #dd4b39
  body
    h1 Options : Pacer
    .tips Tips: notice how the same time interval feels longer as you are becoming more productive! Adjust the interval periodically.
    div interval : 
      input(type='range', min=1, max=60, step=1, value=5)#period
      span#period-indicator 5 minutes
    div volume : 
      audio(id='chime', src='/assets/sound/91926__corsica-s__ding.wav')
      input(type='range', min=0, max=1, step=0.01, value=1)#volume
      span#volume-indicator 100%
    div desktop notification :
      input(type='checkbox', title='show a little popup on your desktop')#notification
      input(type='text', placeholder='some inspirational quote', size=64)#quote
    div holo timer display :
      input(type='checkbox', title='show a slim countdown progress bar at the top of web pages. requires extra permission to access all webpages (to show the UI only). you can revoke the extra permission anytime by turning this off')#holo
      span.group 
        a(href='#')#blue blue
        |  | 
        a(href='#')#red red
      span.group
        a(href='#')#tick tick
        |  | 
        a(href='#')#continuous continuous
        
    button#test show nudge sample

    .actions
      a(href='#')#ask ask a question
      a(href='#')#suggest suggest a new feature
      a(href='#')#report report an issue
      a(href='#')#rate rate this extension
      span
        a(href='#')#share share with friends
        #social.hide
          a(href='#', target='_blank')#facebook facebook
          a(href='#', target='_blank')#twitter twitter
          a(href='#', target='_blank')#gplus google+
      .foot &copy; 2013 
        a(href='http://twitter.com/falcondai', target='_blank') Falcon Dai

    script(src='/holo.js')
    script(src='/options.js')